$body-bg: #f4f5f6;
$a-in-title: #2bcaaf;
$heading-1: #0d1321;
$heading-2: #1d2d44;
$heading-3: #3e5c76;
$heading-4: #748cab;

$primary: #155f59;
$secondary: #e90e66;
$danger: #dd0000;
$success: lime;
$warning: orange;
$info: aqua;

$blue: blue;
$indigo: indigo;
$purple: purple;
$pink: pink;
$red: red;
$orange: orange;
$yellow: yellow;
$green: green;
$teal: teal;
$cyan: cyan;
$white: white;
$gray: gray;
$gray-dark: darkslategray;

$colors: (
  "blue": $blue,
  "indigo": $indigo,
  "purple": $purple,
  "pink": $pink,
  "red": $red,
  "orange": $orange,
  "yellow": $yellow,
  "green": $green,
  "teal": $teal,
  "cyan": $cyan,
  "white": $white,
  "gray": $gray,
  "gray-dark": $gray-dark,
) !default;
